.pokemon-button{
    background-image: url(./charmander.png);
    image-resolution: 10%;
 
}

img{
    padding: 0em;
    z-index: 0;

}

button{
 
    z-index: 1;
}


@media only screen and (max-width: 100px) {
    body {
      background-color: lightblue;
    }
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }