


img{
    padding: 0em;
    z-index: 0;

}

button{
 
    z-index: 1;
    background-color: rgb(179, 179, 238);
    text-decoration: brown;
    border-block-start-color: brown;
}


@media only screen and (max-width: 100px) {
    body {
      background-color: lightblue;
    }
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }